/* Global Styles */
body {
    font-family: system-ui, 'Open Sans';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* header {
    background-color: #6fac8d;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
} */

header {
    background-color: #5d956e;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    font-size: 22px;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Lecture Styles */
.lecture {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.lecture h2 {
    font-size: 20px;
    margin-bottom: 20px;
}


h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
}


/* Code Editor Styles */
.code-editor {
    position: relative;
    max-width: 95%; /* Adjust the width as needed */
      /* Center the code editor horizontally */
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: "Courier New", monospace;
    background-color: #131111;
    color: rgba(241, 221, 39, 0.932);
}

button {
    background-color: #5d956e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6ab47c;
}

/* Result Styles */
pre {
    white-space: pre-wrap;
    background-color: #131111;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Courier New", monospace;
    color: rgba(241, 221, 39, 0.932);
}



/* Additional styles for code block */
.code-container {
    width: 100%; /* Control the width of the container */
    overflow-x: auto; /* Add horizontal scrollbar if code overflows */
}