/* Style the navbar with a green background */

body {
    font-family: system-ui, 'Open Sans';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #38855e; /* Green background color */
    color: white; /* White text color */
    padding: 10px;
    text-align: center;
}

/* Style the "Completed Assignments" text */
.completed-header {
    font-size: 24px;
}

/* Style the content section */
.content {
    max-width: 100%; /* Adjusted to be responsive */
    margin: 0 auto;
    padding: 20px;
}

/* Style the assignments list */
.assignments-list {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
    text-align: left;
    
}

/* Style individual assignment items */
.assignment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    position: relative;
    
}

/* Add margin to <li> elements for spacing */
.assignments-list li {
    margin-bottom: 10px; /* Add margin for spacing between assignments */
    list-style-type: square; /* Use 'disc' for bullet points, or 'decimal' for numbering */
    margin-left: 20px; /* Adjust margin for positioning bullet points or numbers */
}

/* Add spacing for expired badges */
.expired-badge {
    background-color: #e23e32; /* Red background color */
    color: white; /* White text color */
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .content {
        padding: 10px;
    }

    .completed-header {
        font-size: 18px;
    }
}
