body {
    font-family: system-ui, 'Open Sans';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100px;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    flex-direction: column;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.success {
    color: green;
    background-color: lightgreen;
    padding: 10px;
    border: 1px solid green;
  }
  
  .error {
    color: red;
    background-color: lightcoral;
    padding: 10px;
    border: 1px solid red;
  }


  /* .notification {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.notification.success {
    background-color: #4CAF50;
    color: white;
}

.notification.error {
    background-color: #f44336;
    color: white;
} */

  